- context ||= :general
= semantic_form_for(@person, :html => {:multipart => true}) do |f|
  = f.inputs do
    = f.input :name, :label => "Nom"
    -# = f.input :email, :label => "Adresse Email", :hint => "Nous garderons cela secret"
    -# = f.input :twitter
    = f.input :location, :hint => 'de préférence simplement au niveau quartier'
    = f.input :url, :label => "Site web"
    = f.input :bio
    = f.input :tag_list, :as => :text, :label => 'Tags (interêts, titres, descriptifs personnels)', :hint => "Séparés par des virgules, svp", :input_html => {:class => 'tags'}
    = f.input :technology_list, :as => :text, :label => 'Technologies (languages, frameworks, etc)', :hint => "Séparés par des virgules, svp", :input_html => {:class => 'tags'}
    = f.inputs :name => "Photo" do
      - if photo_url = @person.photo_import_url || (@person.photo.file? && @person.photo.url(:medium))
        %li
          = image_tag photo_url, :size => '220'

      = f.input :photo_import_url, :label => "Importer une photo du web…"
      = f.input :photo, :label => "… ou uploader en une depuis votre ordinateur.", :hint => "De préférence de 220px de large ou plus"
    = f.input :reviewed, :input_html => {:value => true}, :as => :hidden
    - if current_user.admin?
      = f.input :user, :include_blank => '-- none --', :label_method => :label_for_admin
    = hidden_field_tag :form_context, context
  = f.buttons
