%h1= "Claiming #{@person.name}"
%p
  = "Cette personne a été importée de #{provider_name(@person.imported_from_provider)}"
  = "mais vous n'êtes pas connecté en utilisant votre compte #{provider_name(@person.imported_from_provider)}."
=link_to "Se connecter à #{provider_name(@person.imported_from_provider)} pour continuer", "/auth/#{@person.imported_from_provider}", :class => 'external'
