= semantic_form_for(@group, :html => {:multipart => true}) do |f|
  = f.inputs do
    = f.input :name :label => "Nom"
    = f.input :url, :label => 'Website'
    = f.input :mailing_list, :hint => "URL pour liste d'information"
    = f.input :description
    = f.input :meeting_info
    = f.input :tag_list, :as => :text, :label => 'Tags', :hint => "Séparés par des virgules, svp", :input_html => {:class => 'tags'}
    = f.input :technology_list, :as => :text, :label => 'Technologies (langages, frameworks, etc)', :hint => "Séparés par des virgules, svp", :input_html => {:class => 'tags'}
    - if @group.logo.file?
      %li
        .faux_label Current logo
        = image_tag @group.logo.url(:medium) if @group.logo.present?
    = f.input :logo, :label => "Uploader un logo", :hint => "De préférence de 220px de large ou plus"
  = f.buttons
