#welcome
  %h1= "Bonjour #{@name.split(' ').first}!"
  - if @possible_duplicates.present?
    #possible_duplicates
      %h2 Peut être que vous êtes cette personne ?
      %p.hint
        == Il semblerait que vous avez déjà été ajouté #{SETTINGS['organization']['name']}.
        = @possible_duplicates.size == 1 ? 'Est ce vous ?' : 'Etes vous l'une de ces personnes?'
      = render :partial => 'people/list', :object => @possible_duplicates, :locals => {:context => :claim}
  #add_yourself
    - if @person.new_record?
      %h2== Ajoutez vous à #{SETTINGS['organization']['name']}
      %p= "Nous avons importé autant d'information que possible de votre compte #{provider_name(current_user.authentications.first.provider)}. Tournez la tête et cliquez sur le gros bouton pour commencer."
    - else
      %h2 Vérifiez vos détails
      %p= "Vous êtes déjà dans la base de données ! Merci de vérifier vos détails et faites nous savoir s'ils sont bons."
    = render :partial => 'people/form', :locals => {:context => @person.new_record? ? :add_self : :review}
