- content_for(:section_header) do
  .section_header
    %h1= semantic_pluralize(@results.present? ? @results.total_entries : 0, "search result") + " for &#8220;#{params[:query]}&#8221;".html_safe

- if @results.blank?
  %h2 Rien ici
  %p
    = "Nous n'avons pas pu trouver d'élément qui concordait avec votre recherche pour <strong>#{params[:query]}</strong>.".html_safe 
    Vous voudrez peut être chercher à nouveau.
    
- else
  %ul.resource_list.search_results
    - @results.each do |result|
      = render :partial => "#{result.class.name.tableize}/list_item", :object => result
  = render :partial => 'shared/list_pagination', :object => @results
