= semantic_form_for(@resource_link) do |f|
  = f.inputs do
    = f.input :name, :label => "Nom"
    = f.input :url, :label => "URL"
    = f.input :description, :label => "Brief description"
    = f.input :category, :label => "Catégorie"

  = f.buttons do
    = f.commit_button
    - unless @resource_link.new_record?
      %li
        = link_to "Supprimer", resource_link_path(@resource), :confirm => 'Etes vous sûr ?', :method => :delete, :class => 'delete'
